.opinion{
    width: 330px;
    height: 330px;
    border-radius: 3px;
    box-shadow: 2px 2px 2px 2px rgb(236, 236, 236);
    padding: 20px;
    margin-bottom: 50px;
     
    
}

.opinion img {
    height: 60px;
    width: 60px;
}